APP_ENV=local

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

DATABASE_URL=sqlite:///./data/demo.db
DATA_ROOT=./data
MEDIA_BASE_URL=http://localhost:8000/media

LABEL_STUDIO_URL=http://localhost:8080
LABEL_STUDIO_API_TOKEN=your_label_studio_personal_access_token_here

MODEL_SERVICE_URL=http://localhost:9000
DEFAULT_USER_ID=local_demo_user
ROBOFLOW_API_KEY=your_roboflow_api_key_here
ROBOFLOW_API_URL=https://serverless.roboflow.com
ROBOFLOW_THYROID_MODEL_ID=thyroid-nodules-detection-test/3
ROBOFLOW_CONFIDENCE=0.25
